/* nav section start from here */
#navigation nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.left-nav {
    display: flex;
}

.left-nav img {
    width: 32px;
    height: 32px;
    margin: 0px 10px;
}

.left-nav h1 {
    color: #5f6368;
    font-size: 1.5rem;
    margin-left: 10px;
}

.right-nav ul li {
    display: inline-block;
}

.list-item {
    margin-right: 10px;
}

.list-item-1 {
    padding: 10px;
    cursor: pointer;
}

.list-item-1:hover {
    background-color: #e1e2e4;
    border-radius: 5px;
}

.list-item-2 {
    color: #1a73e8;
    cursor: pointer;
    border: 1px solid #e1e2e4;
    border-radius: 5px;
    padding: 10px;
}

.list-item-2:hover {
    background-color: #e8f0f9d2;
}

.list-item-3 {
    background-color: #1a73e8;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    padding: 10px;
}

.list-item-3>i {
    background-color: #1a73e8;
    color: #fff;
    margin-right: 5px;
}

.list-item-3:hover {
    background-color: #0b4ea7;
}

/* nav section end from here */

/* body section start from here */
#main-container {
    margin: 75px 8%;
}

/* top container is start from here */
#top-container {
    display: flex;
    justify-content: space-between;
}

.left-top-container {
    max-width: 48%;
}

.left-top-container>h1 {
    font-size: 3rem;
    margin-bottom: 17px;
}

.left-top-container>p {
    font-size: 1.5rem;
    color: #5f6368;
    margin-bottom: 40px;
}

.left-top-container>.btn {
    background-color: #1a73e8;
    color: #fff;
    padding: 10px;
}

.left-top-container>.btn>i {
    background-color: #1a73e8;
    color: #fff;
    margin-right: 5px;
}

.left-top-container>.btn:hover {
    background-color: #0b4ea7;
}

button.join-btn:hover {
    background-color: #e1e2e4;
    border-radius: 5px;
}

.left-top-container>span {
    font-size: 20px;
    padding: 10px;
}

.left-top-container>input {
    padding: 10px;
    border: 2px solid #5f6368;
    border-radius: 5px;
}

.left-top-container>.join-btn {
    padding: 10px;
    border: none;
}

.left-top-container>hr {
    margin: 30px 0px;
}

p.lastPara {
    color: #111;
    font-size: 1rem;
}

p.lastPara>span {
    color: #1a73e8;
}

.right-top-container img {
    border: 25px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 80%;
    margin-left: 20%;

}

/* middle container is start from here */
#middle-container p {
    text-align: center;
    margin: 40px 0px 80px 0px;
}

.flex-item {
    display: flex;
    margin: 100px 0px;
}

.flex-item div img {
    border: 25px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 80%;
    margin-left: 20%;
}

div.left-flex-item {
    max-width: 48%;
}

div.left-flex-item p {
    text-align: left !important;
    color: #5f6368;
    font-size: 1.3rem;
    margin: 20px 0px !important;
}

div.left-flex-item a {
    text-decoration: none;
}

div.left-flex-item-2>img {
    margin-left: 0px;
    width: 90%;
}

div.right-flex-item-2 {
    max-width: 50%;
}

div.right-flex-item-2 p {
    text-align: left !important;
    color: #5f6368;
    font-size: 1.3rem;
    margin: 20px 0px !important;
}

div.right-flex-item-2 a {
    text-decoration: none;
}

div.left-flex-item-3 {
    max-width: 48%;
}

div.left-flex-item-3 p {
    color: #5f6368;
    text-align: left !important;
    font-size: 1.3rem;
    margin: 20px 0px !important;
}

div.left-flex-item-3 img {
    border: none;
    max-width: 80%;
    max-height: 12%;
    margin-left: 20px;
}

div.left-flex-item-3 a {
    display: block;
    margin: 25px 0px 0px !important;
    text-decoration: none;
}

div.left-flex-item-4 {
    max-width: 48%;
}

div.left-flex-item-4 img {
    margin-left: 0px !important;

}

div.right-flex-item-4 {
    max-width: 50%;
}

div.right-flex-item-4 p {
    text-align: left !important;
    color: #5f6368;
    font-size: 1.3rem;
    margin: 20px 0px !important;
}

div.left-flex-item-5 {
    max-width: 50%;
}

div.left-flex-item-5 p {
    text-align: left !important;
    color: #5f6368;
    font-size: 1.3rem;
    margin: 20px 0px !important;
}

div.left-flex-item-5 a {
    text-decoration: none;
}

/* bottom container start from here */
#bottom-container {
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
    background-color: #f8f9fa;
    padding: 70px;
}

#bottom-container div {
    background-color: #f8f9fa;
}

#bottom-container div h5 {
    background-color: #f8f9fa;
}

#bottom-container div p {
    color: #5f6368;
    font-size: 1.2rem;
    margin: 30px 0px 80px;
    background-color: #f8f9fa;
}

#bottom-container div i {
    background-color: #1a73e8;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    padding: 7px;
    margin-bottom: 25px;
}

#company {
    margin: 100px 200px;
}

#company h1 {
    text-align: center;
    margin-bottom: 100px;

}

.grid-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 10px;
}


/* footer section starts from here */
#footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

#footer>.left-footer {
    display: flex;
    color: #5f6368;
}

#footer>.left-footer>h5 {
    margin: 0px 10px;
}

#footer>.right-footer {
    display: flex;
    color: #5f6368;
}

#footer>.right-footer>h5 {
    margin: 0px 10px;
}